@charset "utf-8";

body {
  font-family: "Montserrat", Sans-serif;
}

.common_row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */


#header #nav {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  color: #fff;
}

#header #nav.hscroll {
  background: #fff;
  color: #000;
}


#header #nav .open {
  display: none;
}

#header h1 {
  float: left;
  padding: 20px 15px;
}

#header .main {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  float: right;
}

#header #nav ul li {
  display: inline-block;
}

#header #nav ul li:hover {
  color: #B83BD8;
  transition: all 0.3s;
}

#header #nav ul li a {
  display: block;
  padding: 31px 0;
  margin: 0 18px;
}

#header #nav ul li:nth-child(2) {
  color: #B83BD8;
}

/* scroll button */

#scroll_btn_group {
  z-index: 99999999999;
}

#scroll_btn_group .main {
  position: fixed;
  right: 60px;
  bottom: 60px;
  font-size: 23px;
  z-index: 999999;
  transition: all 0.5s;
  color: #000;
  background: #f8f8f8;
}

#scroll_btn_group .main:hover {
  color: #B83BD8;
  background: #555;
}

#scroll_btn_group div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f8f8f8;
  box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
  line-height: 40px;
  text-align: center;
}

#scroll_btn_group .sub div{
  z-index: 99999;
  opacity: 0;
  position: fixed;
  right: 60px;
  bottom: 60px;
  transition: all 0.3s;
}

#scroll_btn_group.on .sub div{
  opacity: 1;
}

#scroll_btn_group .sub div:hover{ 
  background: #B83BD8;
  color: #999;
  transition-delay: 0s;
} 

#scroll_btn_group .sub .sub1{
  transition-delay: 0s;
}

#scroll_btn_group .sub .sub2{
  transition-delay: 0.15s;
}

#scroll_btn_group .sub .sub3{
  transition-delay: 0.3s;
}

#scroll_btn_group.on .sub1{
  position: fixed;
  right: 58px;
  bottom: 120px;
}

#scroll_btn_group.on .sub2{
  position: fixed;
  right: 105px;
  bottom: 105px;
}

#scroll_btn_group.on .sub3{
  position: fixed;
  right: 120px;
  bottom: 58px;
}





/* footer */

#footer {
  font-size: 14px;
}

#footer h3 {
  float: left;
  padding: 32px;
  color: #828282;
}

#footer .sns {
  float: right;
  padding: 0 32px;
}

#footer .sns p {
  display: inline-block;
  padding: 32px 4px;
  transition: all 0.5s;
}

#footer .sns p:hover {
  color: #828282;
}